/* General Reset */
* {
    margin: 0;
    /*padding: 0;*/
   /* box-sizing: border-box;*/
}
body {
    font-family: Arial, sans-serif;
    font-size:larger;
    background-color: rgb(79, 218, 228);
    display: flex;
    justify-content: center;
    align-items:center;
    /*align-items: center;*/
  }

.gameContainer {
    /*float: auto;*/
    margin-top : 75px;
    width: 435px;
    height: 588px;
    border: 1px solid black;
   /* border-color: black;*/
    /*border-width: 2px;*/
    background-color: #20b2aa;
    justify-content: center;    
}

.gameTitle{
    /*float: auto;*/
    /*margin-top: 0;*/
    /*margin-top : 150px;*/
    /*margin-left : 5px;*/
    /*position:relative;*/
    display: flex;
    justify-content: center; 
    align-items: center;

    height: 50px;

    border: 1px solid black;
    border-width: 2px;
    background-color: rgb(58, 143, 139);

    /*border-top: 2px;*/
    /*border-width: 2px;*/
}

.scoreBoard {
    /*margin: 0;*/
    /*margin-top : 150px;*/
    /*margin-l0ft : 5px;*/
    /*position:relative;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 100px;
    /*text-align: center;    */
    
    /*border-top: 2px;*/
    border: 1px solid black;
    border-width: 2px;
    background-color: rgb(119, 160, 214);
}

.gameScreen {
    /*margin-top : 5px;*/
    /*margin-left : 5px;*/
    text-align: center;  

    height: 403px;
  
    /*border-top: 2px;*/
    border: 1px solid black;
    border-width: 2px;
    background-color: rgb(227, 236, 248);
}

.bottomBar {
    /*margin-top : 5px;*/
    /*margin-left : 5px;*/
    text-align: center;    
    
    height: 25px;
    
    /*border-top: 2px;*/
    border: 1px solid black;
    border-width: 2px;
    background-color: rgb(60, 182, 166);    
}